<div class="row">
  <div class="col">
    <div class="login-form mx-auto">
      <p>Hello! Login to OneCause</p>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="uname">Username or Email</label>
            <input id="uname" class="form-control" type="text" [(ngModel)]="username"/>
            <label for="pword">Password</label>
            <input id="pword" class="form-control" type="password"  [(ngModel)]="password"/>
            <button [disabled]="!username || !password"
                    (click)="attemptLogin()" type="button" class="btn btn-light">submit</button>
            <small class="text-danger">{{errorLabel}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
