/* You can add global styles to this file, and also import other style files */
.container-xl {
  height: 100vh !important;
  min-height: 100vh !important;
}

body {
  background-color: rgb(255, 255, 200);
}
